# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse
# igrnorar clase con datos de coneccion
### Eclipse #
# External tol builders
# Locally stored "Eclipse launch configurations"
# PyDev specific (Python IDE for Eclipse)
# CDT- autotools
# Java annotation processor (APT)
# PDT-specific (PHP Development Tools)
# sbteclipse plugin
# Tern plugin
# TeXlipse plugin
# STS (Spring Tool Suite)
# Code Recommenders
# Annotation Procesing
# Scala IDE specific (Scala & Java development for Eclipse)
### Eclipse Patch ###
 #Eclipse Core
# JDT-specific (Eclipse Java Development Tools)
# Annotation Processing
